@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
@media (min-width: 576px) {
  .followers {
    border-radius: 15px 0 0 15px;
  }
  .public-gists {
    border-radius: 0 15px 15px 0;
  }
  .profile-pic {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .profile-name {
    font-size: 20px;
  }
  .user-item {
    height: 220px;
  }
  .profile-pic {
    width: 60%;
  }
  .followers {
    font-size: 1.1rem;
    border-top-left-radius: 15px;
  }
  .following {
    font-size: 1.1rem;
  }
  .public-repos {
    font-size: 1.1rem;
    border-top-right-radius: 15px;
  }
  .public-gists {
    font-size: 1.1rem;
    border-radius: 0 0 15px 15px;
  }
  .parent-social {
    margin: 10px 10px;
  }
}
